body {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
}

h1 {
    margin: 50px 0 10px;
    font-size: 60px;
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0 0 30px 0;
    border-bottom: 2px solid #e3e3e3;
    font-size: 25px;
    text-align: center;
}

main {
    width: 900px;
    margin: auto;
}

section {
    margin: 50px 0;
    padding: 0 50px;
}

section h2 {
    padding: 0;
    text-align: left;
    border: none;
}

li {
    margin: 0 0 10px 0;
}